*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

a,
a:visited,
a:link {
 color: inherit;   
}
