.main {
  height: 100vh;
  width: 100%;
}
.controller {
  padding: 4rem 3.5rem;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}
.icon {
  font-size: 2.8rem;
  display: inline-block;
  background-color: var(--black);
  line-height: 1;
  color: var(--white);
  padding: 1.4rem 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2rem 12rem rgba(0, 0, 0, 0.075);
}
.controlGrp {
  text-align: center;
  padding: 0 2rem;
}
.controlGrp > h2 {
  font-size: 1.1rem;
  margin-top: 1rem;
}
.box {
  overflow-y: auto;
  padding: 3rem 4rem;
}
.mainHead {
  font-size: 2.2rem;
  font-family: "Lora", Arial, serif;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 0.6rem;
}
.mainHead::after {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 1.5%;
  background-color: var(--black);
  border-radius: 1rem;
  width: 4rem;
  height: 2px;
}
