<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Base/root.css" />
    <link rel="stylesheet" href="../Base/global.css" />
    <link rel="stylesheet" href="./Contact.css" />
    <title>Hima Khaitan - Personal Blog</title>
  </head>
  <body>
    <section class="home">
      <header class="header">
        <nav class="navigation">
          <ul>
            <li><a href="../Home/home.html">Home</a></li>
            <li><a href="../Technology/technology.html">Technology</a></li>
            <li><a href="../Money/Money.html">Money</a></li>
            <li class="active"><a href="./about.html">About</a></li>
            <li><a href="../Contact/Contact.html">Contact</a></li>
          </ul>
        </nav>
        <div class="logo">
          <a href="" class="logoLink"
            ><span class="logoSpan">Hima</span>
            <span class="logoSpan">Khaitan</span></a
          >
        </div>
        <div class="newsletter">
          <h3 class="newsletterHead">Subscribe to Newsletter</h3>
          <div class="newsletterform">
            <input
              type="text"
              class="newsletterInput"
              placeholder="Enter Email Address"
            />
          </div>
        </div>
        <div class="copyright">
          <p>
            Copyright &copy;2021 All rights reserved | Made with 🖤 by
            <span>Himanshu </span>
          </p>
        </div>
      </header>
      <main class="main">
        <div class="mainPrimary">
          <div class="mainLeft">
            <h3>Get In Touch</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam
              dolorem voluptatem quod nulla temporibus obcaecati illum
              consectetur commodi in facilis!
            </p>

            <div class="socials"></div>
          </div>
          <div class="mainRight">
              <h3>Say Something</h3>
            <form action="">
              <input class="formInput" type="text" id="name" placeholder="Name" />
              <input class="formInput" type="email" placeholder="E-mail Address" />
              <input class="formInput" type="text" class="textArea" placeholder="Your Message" />
              <input class="submit" type="submit" value="Submit" />
            </form>
          </div>
        </div>
        <div class="mainSecondary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, doloribus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem soluta nisi numquam vel illum dolorem? Libero totam assumenda fugiat earum?
        </div>
      </main>
    </section>
  </body>
</html>
