<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Base/root.css" />
    <link rel="stylesheet" href="../Base/global.css" />
    <link rel="stylesheet" href="./home.css" />
    <title>Hima Khaitan - Personal Blog</title>
  </head>
  <body>
    <section class="home">
      <header class="header">
        <nav class="navigation">
          <ul>
            <li><a>Home</a></li>
            <li><a>Technology</a></li>
            <li class="active" ><a >Money</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
          </ul>
        </nav>
      </header>
      <div class="main">Main Section</div>
      <div class="sidebar">SideBar</div>
    </section>
  </body>
</html>
