<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Base/root.css" />
    <link rel="stylesheet" href="../Base/global.css" />
    <link rel="stylesheet" href="./home.css" />
    <title>Hima Khaitan - Personal Blog</title>
  </head>
  <body>
    <section class="home">
      <header class="header">
        <nav class="navigation">
          <ul>
            <li><a>Home</a></li>
            <li><a>Technology</a></li>
            <li class="active"><a>Money</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
          </ul>
        </nav>
        <div class="logo">
          <a href="" class="logoLink"
            ><span class="logoSpan">Hima</span>
            <span class="logoSpan">Khaitan</span></a
          >
        </div>
        <div class="newsletter">
          <h3 class="newsletterHead">Subscribe to Newsletter</h3>
          <div class="newsletterform">
            <input
              type="text"
              class="newsletterInput"
              placeholder="Enter Email Address"
            />
          </div>
        </div>
        <div class="copyright">
          <p>
            Copyright &copy;2021 All rights reserved | Made with 🖤 by
            <span>Himanshu </span>
          </p>
        </div>
      </header>
      <main class="main">
        <div class="mainContent">
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/291732/pexels-photo-291732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/673020/pexels-photo-673020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
           <div class="pagination">
            <div class="pageItem">
              <
            </div>
             <div class="pageItem activePage">
               1
             </div>
             <div class="pageItem">
              2
            </div>
            <div class="pageItem">
              3
            </div>
            <div class="pageItem">
              4
            </div>
            <div class="pageItem">
              5
            </div>
            <div class="pageItem">
              >
            </div>
           </div>
        </div>
        <div class="sidebar">
          <div class="sidegrp searchgrp">
            <input
              type="text"
              class="searchbar"
              placeholder="Type a keyword and enter"
            />
            <div class="searchIcon">E</div>
          </div>
          <div class="sidegrp">
            <h3 class="sidebar-heading">Categories</h3>
            <ul class="categoryGrp">
              <li>
                <a href="#"> Fashion </a>
                <p>(12)</p>
              </li>
              <li>
                <a href="#"> Technology </a>
                <p>(8)</p>
              </li>
              <li>
                <a href="#"> Travel </a>
                <p>(2)</p>
              </li>
              <li>
                <a href="#"> Money </a>
                <p>(20)</p>
              </li>
              <li>
                <a href="#"> Photography </a>
                <p>(3)</p>
              </li>
            </ul>
          </div>
          <div class="sidegrp">
            <h3 class="sidebar-heading">Popular Articles</h3>
            <ul class="articleGrp">
              <li>
                <div class="articleImg">
                  <img
                    src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt=""
                  />
                </div>
                <div class="articleContent">
                  <h3 class="articleHead">
                    <a href="">
                      Even the all- powerful Pointing has no control
                    </a>
                  </h3>
                  <div class="articleMeta">
                    <div>
                      <p><span>C</span> June 28, 2019</p>
                    </div>
                    <div>
                      <p><span>P</span> Himanshu</p>
                    </div>
                    <div>
                      <p><span>C</span> 19</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="articleImg">
                  <img
                    src="https://images.pexels.com/photos/2068975/pexels-photo-2068975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt=""
                  />
                </div>
                <div class="articleContent">
                  <h3 class="articleHead">
                    <a href="">
                      Even the all- powerful Pointing has no control
                    </a>
                  </h3>
                  <div class="articleMeta">
                    <div>
                      <p><span>C</span> June 28, 2019</p>
                    </div>
                    <div>
                      <p><span>P</span> Himanshu</p>
                    </div>
                    <div>
                      <p><span>C</span> 19</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="articleImg">
                  <img
                    src="https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt=""
                  />
                </div>
                <div class="articleContent">
                  <h3 class="articleHead">
                    <a href="">
                      Even the all- powerful Pointing has no control
                    </a>
                  </h3>
                  <div class="articleMeta">
                    <div>
                      <p><span>C</span> June 28, 2019</p>
                    </div>
                    <div>
                      <p><span>P</span> Himanshu</p>
                    </div>
                    <div>
                      <p><span>C</span> 19</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="sidegrp tagcloud">
            <h3 class="sidebar-heading">Tag Cloud</h3>
            <div class="tags">
              <a><p>Money</p></a>
              <a><p>Travel</p></a>
              <a> <p>Business</p></a>
              <a> <p>Javascript</p></a>
              <a> <p>Nature</p></a>
              <a> <p>People</p></a>
              <a> <p>Code</p></a>
            </div>
          </div>
          <div class="newsletterGrp">
            <h3 class="news-heading">Newsletter</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia
            </p>
            <form action="">
              <input
                type="text"
                class="newsInput"
                placeholder="E-mail Address"
              />
              <input type="submit" value="Submit" class="newsSubmit" />
            </form>
          </div>
          <div class="sidegrp">
            <h3 class="sidebar-heading">Archives</h3>
            <ul class="categoryGrp">
              <li>
                <a href="#"> December 2018 </a>
                <p>(12)</p>
              </li>
              <li>
                <a href="#"> March 2019 </a>
                <p>(8)</p>
              </li>
              <li>
                <a href="#"> November 2019 </a>
                <p>(2)</p>
              </li>
              <li>
                <a href="#"> May 2020 </a>
                <p>(20)</p>
              </li>
              <li>
                <a href="#"> February 2021 </a>
                <p>(3)</p>
              </li>
            </ul>
          </div>
          <div class="sidegrp">
            <h3 class="sidebar-heading">About</h3>
            <p class="aboutText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              velit asperiores quam totam perspiciatis laudantium et, corrupti
              facilis explicabo atque.
            </p>
          </div>
        </div>
      </main>
    </section>
  </body>
</html>
