.home {
  display: grid;
  grid-template-columns: 25% 1fr 20%;
  width: 100%;
  height: 100vh;
}

/* NAVIGATION */
.header {
  border-right: 1px solid #e6e6e6;
  padding: 6rem 3rem 3rem;
}

.navigation > ul {
  list-style: none;
  font-size: 1.8rem;
  line-height: 2.3;
  font-weight: 500;
  width: 100%;
}
.navigation > ul > li {
  transition: all 0.2s;
  cursor: pointer;
  display: list-item;
}
.navigation > ul > li > a {
  display: inline-block;
  position: relative;
}
.navigation > ul > li > a::after {
  content: "";
  bottom: 5px;
  height: 2px;
  left: 0;
  background-color: var(--blue);
  width: 100%;
  position: absolute;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s;
}
.active {
  color: var(--blue) !important;
}
.navigation > ul > li.active a::after {
  visibility: visible;
  transform: scaleX(1);
}
.navigation > ul > li:hover a::after {
  transform: scaleX(1);
  color: var(--black);
  visibility: visible;
}

/* LOGO */
.logo {
  margin: 2rem 0;
  background-image: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-clip: text;
  -webkit-background-clip: text;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.logoSpan {
  font-size: 7rem;
  font-family: "Abril Fatface", cursive;
  display: block;
  line-height: 0.8;
  color: transparent;
  /* https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */
}

/* NewsLetter */
.newsletterHead {
  font-family: "Lora", Arial, serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.newsletterInput,
.newsletterInput:active,
.newsletterInput:focus {
  outline: none;
  background: #fff !important;
  border: 1px solid #7cd1f5 !important;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  line-height: 1.5;
  overflow: visible;
  cursor: text;
  border-radius: 0;
  height: 5.2rem !important;
  box-shadow: none !important;
  font-weight: 400;
  width: 100%;
  padding: 0.375rem 0.75rem;
  padding-right: 4rem;
}

/* Copyright */

.copyright {
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 0.1rem;
}
