<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Base/root.css" />
    <link rel="stylesheet" href="../Base/global.css" />
    <link rel="stylesheet" href="./Money.css" />
    <title>Hima Khaitan - Personal Blog</title>
  </head>
  <body>
    <section class="home">
      <header class="header">
        <nav class="navigation">
          <ul>
            <li><a href="../Home/home.html">Home</a></li>
            <li><a href="../Technology/technology.html">Technology</a></li>
            <li class="active"><a href="./Money.html">Money</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
          </ul>
        </nav>
        <div class="logo">
          <a href="" class="logoLink"
            ><span class="logoSpan">Hima</span>
            <span class="logoSpan">Khaitan</span></a
          >
        </div>
        <div class="newsletter">
          <h3 class="newsletterHead">Subscribe to Newsletter</h3>
          <div class="newsletterform">
            <input
              type="text"
              class="newsletterInput"
              placeholder="Enter Email Address"
            />
          </div>
        </div>
        <div class="copyright">
          <p>
            Copyright &copy;2021 All rights reserved | Made with 🖤 by
            <span>Himanshu </span>
          </p>
        </div>
      </header>
      <main class="main">
        <div class="mainContent">
          <div class="blogCont">
            <img
              src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg"
              alt=""
            />
            <h3><a>A Loving Heart is the Truest Wisdom</a></h3>
            <p class="blogTextContent">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic life One day however a small
              line of blind text by the name of Lorem Ipsum decided to leave for
              the far World of Grammar.
            </p>
            <div class="writter">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/26/09/40/suit-690048_1280.jpg"
                alt=""
              />
              <div class="writterStats">
                <p>Written By</p>
                <h5><span>Himanshu Khaitan</span>, June 28, 2019</h5>
              </div>
            </div>
            <div class="blogUtils">
              <button>Continue Reading</button>
              <div class="insight">
                <p class="icon">🤍</p>
                <p>3</p>
                <p class="icon">👁</p>
                <p>100</p>
                <p class="icon">💻</p>
                <p>5</p>
              </div>
            </div>
          </div>
          <div class="blogCont">
            <img
              src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg"
              alt=""
            />
            <h3><a>A Loving Heart is the Truest Wisdom</a></h3>
            <p class="blogTextContent">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic life One day however a small
              line of blind text by the name of Lorem Ipsum decided to leave for
              the far World of Grammar.
            </p>
            <div class="writter">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/26/09/40/suit-690048_1280.jpg"
                alt=""
              />
              <div class="writterStats">
                <p>Written By</p>
                <h5><span>Himanshu Khaitan</span>, June 28, 2019</h5>
              </div>
            </div>
            <div class="blogUtils">
              <button>Continue Reading</button>
              <div class="insight">
                <p class="icon">🤍</p>
                <p>3</p>
                <p class="icon">👁</p>
                <p>100</p>
                <p class="icon">💻</p>
                <p>5</p>
              </div>
            </div>
          </div>
          <div class="blogCont">
            <img
              src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg"
              alt=""
            />
            <h3><a>A Loving Heart is the Truest Wisdom</a></h3>
            <p class="blogTextContent">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic life One day however a small
              line of blind text by the name of Lorem Ipsum decided to leave for
              the far World of Grammar.
            </p>
            <div class="writter">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/26/09/40/suit-690048_1280.jpg"
                alt=""
              />
              <div class="writterStats">
                <p>Written By</p>
                <h5><span>Himanshu Khaitan</span>, June 28, 2019</h5>
              </div>
            </div>
            <div class="blogUtils">
              <button>Continue Reading</button>
              <div class="insight">
                <p class="icon">🤍</p>
                <p>3</p>
                <p class="icon">👁</p>
                <p>100</p>
                <p class="icon">💻</p>
                <p>5</p>
              </div>
            </div>
          </div>
          <div class="blogCont">
            <img
              src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg"
              alt=""
            />
            <h3><a>A Loving Heart is the Truest Wisdom</a></h3>
            <p class="blogTextContent">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic life One day however a small
              line of blind text by the name of Lorem Ipsum decided to leave for
              the far World of Grammar.
            </p>
            <div class="writter">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/26/09/40/suit-690048_1280.jpg"
                alt=""
              />
              <div class="writterStats">
                <p>Written By</p>
                <h5><span>Himanshu Khaitan</span>, June 28, 2019</h5>
              </div>
            </div>
            <div class="blogUtils">
              <button>Continue Reading</button>
              <div class="insight">
                <p class="icon">🤍</p>
                <p>3</p>
                <p class="icon">👁</p>
                <p>100</p>
                <p class="icon">💻</p>
                <p>5</p>
              </div>
            </div>
          </div>
          <div class="blogCont">
            <img
              src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg"
              alt=""
            />
            <h3><a>A Loving Heart is the Truest Wisdom</a></h3>
            <p class="blogTextContent">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic life One day however a small
              line of blind text by the name of Lorem Ipsum decided to leave for
              the far World of Grammar.
            </p>
            <div class="writter">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/26/09/40/suit-690048_1280.jpg"
                alt=""
              />
              <div class="writterStats">
                <p>Written By</p>
                <h5><span>Himanshu Khaitan</span>, June 28, 2019</h5>
              </div>
            </div>
            <div class="blogUtils">
              <button>Continue Reading</button>
              <div class="insight">
                <p class="icon">🤍</p>
                <p>3</p>
                <p class="icon">👁</p>
                <p>100</p>
                <p class="icon">💻</p>
                <p>5</p>
              </div>
            </div>
          </div>
          <div class="blogCont">
            <img
              src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg"
              alt=""
            />
            <h3><a>A Loving Heart is the Truest Wisdom</a></h3>
            <p class="blogTextContent">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic life One day however a small
              line of blind text by the name of Lorem Ipsum decided to leave for
              the far World of Grammar.
            </p>
            <div class="writter">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/26/09/40/suit-690048_1280.jpg"
                alt=""
              />
              <div class="writterStats">
                <p>Written By</p>
                <h5><span>Himanshu Khaitan</span>, June 28, 2019</h5>
              </div>
            </div>
            <div class="blogUtils">
              <button>Continue Reading</button>
              <div class="insight">
                <p class="icon">🤍</p>
                <p>3</p>
                <p class="icon">👁</p>
                <p>100</p>
                <p class="icon">💻</p>
                <p>5</p>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <div class="sidegrp searchgrp">
            <input
              type="text"
              class="searchbar"
              placeholder="Type a keyword and enter"
            />
            <div class="searchIcon">E</div>
          </div>
          <div class="sidegrp">
            <h3 class="sidebar-heading">Categories</h3>
            <ul class="categoryGrp">
              <li>
                <a href="#"> Fashion </a>
                <p>(12)</p>
              </li>
              <li>
                <a href="#"> Technology </a>
                <p>(8)</p>
              </li>
              <li>
                <a href="#"> Travel </a>
                <p>(2)</p>
              </li>
              <li>
                <a href="#"> Money </a>
                <p>(20)</p>
              </li>
              <li>
                <a href="#"> Photography </a>
                <p>(3)</p>
              </li>
            </ul>
          </div>
          <div class="sidegrp">
            <h3 class="sidebar-heading">Popular Articles</h3>
            <ul class="articleGrp">
              <li>
                <div class="articleImg">
                  <img
                    src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt=""
                  />
                </div>
                <div class="articleContent">
                  <h3 class="articleHead">
                    <a href="">
                      Even the all- powerful Pointing has no control
                    </a>
                  </h3>
                  <div class="articleMeta">
                    <div>
                      <p><span>C</span> June 28, 2019</p>
                    </div>
                    <div>
                      <p><span>P</span> Himanshu</p>
                    </div>
                    <div>
                      <p><span>C</span> 19</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="articleImg">
                  <img
                    src="https://images.pexels.com/photos/2068975/pexels-photo-2068975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt=""
                  />
                </div>
                <div class="articleContent">
                  <h3 class="articleHead">
                    <a href="">
                      Even the all- powerful Pointing has no control
                    </a>
                  </h3>
                  <div class="articleMeta">
                    <div>
                      <p><span>C</span> June 28, 2019</p>
                    </div>
                    <div>
                      <p><span>P</span> Himanshu</p>
                    </div>
                    <div>
                      <p><span>C</span> 19</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="articleImg">
                  <img
                    src="https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt=""
                  />
                </div>
                <div class="articleContent">
                  <h3 class="articleHead">
                    <a href="">
                      Even the all- powerful Pointing has no control
                    </a>
                  </h3>
                  <div class="articleMeta">
                    <div>
                      <p><span>C</span> June 28, 2019</p>
                    </div>
                    <div>
                      <p><span>P</span> Himanshu</p>
                    </div>
                    <div>
                      <p><span>C</span> 19</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="sidegrp tagcloud">
            <h3 class="sidebar-heading">Tag Cloud</h3>
            <div class="tags">
              <a><p>Money</p></a>
              <a><p>Travel</p></a>
              <a> <p>Business</p></a>
              <a> <p>Javascript</p></a>
              <a> <p>Nature</p></a>
              <a> <p>People</p></a>
              <a> <p>Code</p></a>
            </div>
          </div>
          <div class="newsletterGrp">
            <h3 class="news-heading">Newsletter</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia
            </p>
            <form action="">
              <input
                type="text"
                class="newsInput"
                placeholder="E-mail Address"
              />
              <input type="submit" value="Submit" class="newsSubmit" />
            </form>
          </div>
          <div class="sidegrp">
            <h3 class="sidebar-heading">Archives</h3>
            <ul class="categoryGrp">
              <li>
                <a href="#"> December 2018 </a>
                <p>(12)</p>
              </li>
              <li>
                <a href="#"> March 2019 </a>
                <p>(8)</p>
              </li>
              <li>
                <a href="#"> November 2019 </a>
                <p>(2)</p>
              </li>
              <li>
                <a href="#"> May 2020 </a>
                <p>(20)</p>
              </li>
              <li>
                <a href="#"> February 2021 </a>
                <p>(3)</p>
              </li>
            </ul>
          </div>
          <div class="sidegrp">
            <h3 class="sidebar-heading">About</h3>
            <p class="aboutText">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              velit asperiores quam totam perspiciatis laudantium et, corrupti
              facilis explicabo atque.
            </p>
          </div>
        </div>
      </main>
    </section>
  </body>
</html>
