*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (max-width: 160em) and (min-width: 140em) {
  html {
    font-size: 110%;
  }
}
@media screen and (max-width: 139.9em) and (min-width: 130em) {
  html {
    font-size: 105%;
  }
}
@media screen and (max-width: 129.9em) and (min-width: 125em) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 124.9em) and (min-width: 115em) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 114.9em) and (min-width: 100em) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 99.9em) and (min-width: 89em) {
  html {
    font-size: 70%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
a,
a:visited,
a:link {
  color: inherit;
}
/* Layout Configuration */
.home {
  display: grid;
  grid-template-columns: 25% 1fr;
  width: 100%;
  overflow-y: hidden;
  scrollbar-width: 0;
  height: 100vh;
}
.main {
  display: grid;
  overflow-y: scroll;
  grid-template-columns: 1fr 35%;
}
