<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Base/root.css" />
    <link rel="stylesheet" href="../Base/global.css" />
    <link rel="stylesheet" href="./technology.css" />
    <title>Hima Khaitan - Personal Blog</title>
  </head>
  <body>
    <section class="home">
      <header class="header">
        <nav class="navigation">
          <ul>
            <li><a href="../Home/home.html">Home</a></li>
            <li class="active"><a href="./technology.html">Technology</a></li>
            <li><a href="../Money/Money.html">Money</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
          </ul>
        </nav>
        <div class="logo">
          <a href="" class="logoLink"
            ><span class="logoSpan">Hima</span>
            <span class="logoSpan">Khaitan</span></a
          >
        </div>
        <div class="newsletter">
          <h3 class="newsletterHead">Subscribe to Newsletter</h3>
          <div class="newsletterform">
            <input
              type="text"
              class="newsletterInput"
              placeholder="Enter Email Address"
            />
          </div>
        </div>
        <div class="copyright">
          <p>
            Copyright &copy;2021 All rights reserved | Made with 🖤 by
            <span>Himanshu </span>
          </p>
        </div>
      </header>

      <main class="main">
        <div class="mainContent">
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/291732/pexels-photo-291732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/673020/pexels-photo-673020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="blogDiv">
            <div class="blogImg">
              <img
                src="https://images.pexels.com/photos/1210273/pexels-photo-1210273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
            </div>
            <div class="blogDetails">
              <h2><a> Loving Heart is the Truest Wisdom</a></h2>
              <div class="blogMeta">
                <div><span>C</span> June 29, 2019</div>
                <div class="tagMeta">
                  <a><span>F</span> Travel</a>
                </div>
                <div><span>C</span> 5 Comments</div>
              </div>
              <p class="blogText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                ratione suscipit necessitatibus nisi, repudiand.
              </p>
              <p class="readMore">
                <a href=""> Read More ></a>
              </p>
            </div>
          </div>
          <div class="pagination">
            <div class="pageItem"><</div>
            <div class="pageItem activePage">1</div>
            <div class="pageItem">2</div>
            <div class="pageItem">3</div>
            <div class="pageItem">4</div>
            <div class="pageItem">5</div>
            <div class="pageItem">></div>
          </div>
        </div>
      </main>
    </section>
  </body>
</html>
